@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #4D1865;
}

.container {
    background-color: rgb(249, 244, 250);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 2rem;
}

.text-blue-600 {
    color: #4D1865;
}

.bg-blue-500 {
    background-color: #4D1865;
}

.hover:bg-blue-600:hover {
    background-color: #3D1250;
}
